###########################################################
# GLOBAL
###########################################################
# Set default values for all following accounts.
defaults

# Use the mail submission port 587 instead of the SMTP port 25.
port 587

# Always use TLS.
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

###########################################################
# GMAIL
###########################################################
account gmail
host smtp.gmail.com
from gabriel.pettier@gmail.com

auth on
user gabriel.pettier

passwordeval pass show personnal/mail.pass

###########################################################
# Partoo
###########################################################
account partoo
host smtp.gmail.com
from gabriel@partoo.fr

auth on
user gabriel@partoo.fr

passwordeval pass show partoo/mail.pass

###########################################################
# TANGIBLE
###########################################################
account tangible
host mail.gandi.net

from gabriel@tangibledisplay.com

auth on
user gabriel@tangibledisplay.com

passwordeval pass show tangible/mail.pass


account default : gmail
