###########################################################
# GLOBAL
###########################################################
# Set default values for all following accounts.
defaults

# Use the mail submission port 587 instead of the SMTP port 25.
port 587

# Always use TLS.
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

###########################################################
# GMAIL
###########################################################
account gmail
host smtp.gmail.com
from gabriel.pettier@gmail.com

auth on
user gabriel.pettier

passwordeval gpg2 --batch --decrypt $HOME/.neomutt/passwords.gpg 2>/dev/null|jq .mail_gmail -r

###########################################################
# TANGIBLE
###########################################################
account tangible
host mail.gandi.net

from gabriel@tangibledisplay.com

auth on
user gabriel@tangibledisplay.com

passwordeval gpg2 --batch --decrypt $HOME/.neomutt/passwords.gpg 2>/dev/null|jq .mail_tangible -r


account default : gmail
