set my_old_pipe_decode=$pipe_decode
set my_old_wait_key=$wait_key
set nopipe_decode nowait_key

push "<shell-escape>clear; cat ~/.mutt/nm-help; notmuch-mutt -r --prompt search\n"
push "<change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`\n"

set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key
"notmuch: search mail"

# <shell-escape>clear; cat ~/.mutt/nm-help; notmuch-mutt -r --prompt search<enter>\
# <change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`<enter>\
# <enter-command>set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
#       "notmuch: search mail"
